
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */

ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */

mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

/* CODIGO MIO */

.header{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 100%;
  gap: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;

}

nav ul li a{
    font-family: 'Aleo', serif;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.container{
  width: 100%;
  height: 1080px;

}


.contenedor-slider{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}

.contenedor-slider img{
  width: 30%;
  margin-bottom: 50px;
  box-shadow: 0px 0px 15px 10px white;
  border-radius: 50%;
}
main::before {
  content: "";
  background-image: url('../../img/computador.jpg');
  background-position: center left;
  background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  width: 100%;
  height: 650px;
  position: absolute;
  z-index: -1; /* Asegura que esté detrás del contenido de main */
  transform: scaleX(-1);
}

main {
  width: 100%;
  height: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Establece posición relativa para que el seudoelemento sea posicionado relativo a main */
}

section{
  
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccion-parrrafo{
  width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.seccion-parrrafo div p {
  padding: 50px;
  text-align: justify;
}

.contenedor-parrafo{
  color: white;
  font-weight: 800;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-parrafo a{
  text-decoration: none;
  color: black;
  padding: 15px 30px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #4A8B2CFA;
    box-shadow: 0px 0px 10px 0px #80BC00;
    border-radius: 50px;
    text-transform: uppercase;
}

.contenedor-parrafo a:hover{
  color: white;
  background-color: #4A8B2CFA;
  border-color: white;
  box-shadow: 0px 0px 10px 0px #80BC00;
  border-radius: 50px;
}

.contenedor-imagen-parrafo{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}
.contenedor-imagen-parrafo img{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 0 10px rgb(250 184 3), 0 0 20px rgb(204 147 31), 0 0 30px rgb(255 240 0);
}

.contenedor-imagen-parrafo h1 {
  color: white;
  font-size: 24px;
}

.estudiantes{
 width: 30%;
}

.column-estudiantes{
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 20px;
}
.estudiantes{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.estudiantes p{
  text-transform: uppercase;
  font-weight: bold;
}
#estudiantes{
  width: 80px;
}

@media (max-width: 1024px) {
  #estudiantes{
    width: 64px;
  }
  .estudiantes{
      width: 50%;
  }
  .seccion-parrrafo{
    flex-wrap: wrap;
    flex-direction: column;
    padding:0;
  }
  .contenedor-parrafo{
    width: 60%;
    padding: 30px;
     font-size: 16px;
     
   }
}

/* tableta */
@media (max-width: 768px) {
  #estudiantes{
    width: 64px;
  }
  main{
    height: 800px;
  }
  .estudiantes{
      width: 50%;
  }
  .seccion-parrrafo{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
   padding:0;   
  }
  .contenedor-parrafo{
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 30px;
     font-size: 16px;
     
   }
}

#estudiantes{
  font-size: 64px;
}



/* mobile */
@media (max-width: 568px) {
  main{
    height: 1000px;
  }
  #estudiantes{
    font-size: 48px;
  }
  .estudiantes{
      width: 100%;
  }
  .seccion-parrrafo{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
   padding:0;   
  }
  .contenedor-parrafo{
    width: 60%;
   padding: 30px;
    font-size: 16px;
    
  }
}



.contenedor-imagen-parrafo {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contenedor-imagen-parrafo img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: filter 0.3s; /* Agregamos una transición para el filtro */
}

.contenedor-imagen-parrafo span {
  display: none; /* Inicialmente ocultamos el texto */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.contenedor-imagen-parrafo a:hover img {
  filter: brightness(0.7); /* Oscurecemos la imagen al hacer hover */
}


.estudiantes:hover p {
  opacity: 1; /* Mostrar el nombre al pasar el ratón */
}

.estudiantes p {
  opacity: 0; /* Ocultar el nombre por defecto */
  position: absolute; /* Posiciona el nombre absolutamente en el contenedor */
  top: 50%; /* Coloca el nombre en el centro verticalmente */
  left: 50%; /* Coloca el nombre en el centro horizontalmente */
  transform: translate(-50%, -50%); /* Centra el nombre correctamente */
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
  padding: 20px; /* Espacio alrededor del nombre */
  color: white; /* Color del texto del nombre */
  transition: opacity 0.3s; /* Agrega una transición suave al cambio de opacidad */
}

.estudiantes b {
  font-size: 20px;
}